[Unit]
Description=update server load periodically in file '/run/b3lb/load'.

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /srv/loadcalc/load.py

[Install]
WantedBy=multi-user.target
