# b3lb v3.1 - Delay update to Django 4.x because of dependencies
Django==3.2.19
PyGObject==3.44.1
aiohttp==3.8.4
boto3==1.26.163
django-extensions==3.2.3
celery==5.3.1
celery-singleton==0.3.1
django-cacheops==7.0.1
django-db-file-storage==0.5.5
django-celery-admin==0.1
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-environ==0.10.0
django-redis==5.3.0
django-storages==1.13.2
intervaltree==3.1.0
psycopg2cffi==2.9.0
requests==2.31.0
uvicorn[standard]==0.22.0
xmltodict==0.13.0