# b3lb v3.1 - Delay update to Django 4.x because of dependencies
Django==3.2.18
PyGObject==3.44.1
aiohttp==3.8.4
boto3==1.26.119
django-extensions==3.2.1
celery==5.2.7
celery-singleton==0.3.1
django-cacheops==7.0
django-db-file-storage==0.5.5
django-celery-admin==0.1
django-celery-beat==2.5.0
django-celery-results==2.5.0
django-environ==0.10.0
django-redis==5.2.0
django-storages==1.13.2
intervaltree==3.1.0
psycopg2cffi==2.9.0
requests==2.28.2
uvicorn[standard]==0.21.1
xmltodict==0.13.0